{% load static %}

{% block head %}
  <script src="{% static 'core/js/htmx.min.js' %}"></script>
{% endblock %}

{% comment %} {% block content %}
  <div id="comments_container" class="product-grid flex flex-col">
    {% for comment in comments %}
      <div class="comment">
        {% include 'partials/comment.html' with comment=comment %}

        {{ comment.text }}
        <div class="divider m-0 p-0"></div>
      </div>

      {% if comments.has_next and forloop.last %}
        <span hx-get="{% url 'comment_video' %}?page={{ comments.next_page_number }}&v=d1Lx1Fjyk3Q" hx-swap="beforeend" hx-target="#comments_container" hx-select=".comment" hx-trigger="revealed"></span>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %} {% endcomment %}

{% comment %} <h1>Articles</h1>
<div id="articles">
  {% for article in comments %}
    <div class="article">
      <div>{{ article.text }}</div>
      {% if comments.has_next and forloop.last %}
        <span hx-get="{% url 'comment_video' %}?page={{ comments.next_page_number }}&v=d1Lx1Fjyk3Q" hx-swap="beforeend" hx-target="#articles" hx-select=".article" hx-trigger="revealed"></span>
      {% endif %}
    </div>
  {% endfor %}
</div> {% endcomment %}

{{ comments }}
