{% extends 'layout.html' %}
{% load static %}

{% block head %}
  <script src="{% static 'core/js/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="comments_container" class="product-grid flex flex-col">
    {% for comment in comments %}
      <div class="comment">
        {% include 'partials/comment.html' with comment=comment %}
        <div class="divider m-0 p-0"></div>
      </div>

      {% if comments.has_next and forloop.last %}
        <span hx-get="{% url 'comment_video' %}?page={{ comments.next_page_number }}" hx-swap="beforeend" hx-target="#comments_container" hx-select=".comment" hx-trigger="revealed"></span>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
