{% extends 'layout.html' %} {% load static %}

{% block title %}
{{video_data.title}}
{% endblock %}


{% block head %}
  <script src="{% static 'core/js/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
  {% csrf_token %}
  <div class="max-w-[1800px] mx-auto px-4 py-4 grid grid-cols-1 lg:grid-cols-3">
    <div class="lg:col-span-2">
      {% include 'components/video_player/video_player.html' with video=video_data %}
      {% include 'components/video_comments/video_comments.html' with video=video_data %}
    </div>

    <div class="lg:col-span-1 flex flex-col items-center gap-2 mx-2">
      {% include 'components/related_videos/related_videos.html' with category=video_data.category %}
    </div>
  </div>
{% endblock %}
